<div class="w3-bar w3-black w3-card w3-center w3-round">
    {% if 'username' in session %}
    <a href="/dashboard" class="w3-bar-item w3-button">🏠Dashboard</a>
    {% else %}
    <a href="/" class="w3-bar-item w3-button">🏡Home</a>
    {% endif %}

    {% if 'role' in session %}
    {% if session['role'] == 'Principal' %}
    <a href="/add-teacher" class="w3-bar-item w3-button">Add Teacher</a>
    <a href="/add-student" class="w3-bar-item w3-button">Add Student</a>
    <a href="/role-principal" class="w3-bar-item w3-button">Check My Role</a>
    {% elif session['role'].endswith('_Teacher') %}
    <a href="/add-student" class="w3-bar-item w3-button">Add Student</a>
    <a href="/role-teacher" class="w3-bar-item w3-button">Check My Role</a>
    {% elif session['role'] == 'Student' %}
    <a href="/role-student" class="w3-bar-item w3-button">Check My Role</a>
    {% endif %}
    {% endif %}

    {% if 'username' not in session %}
    <a href="/login" class="w3-bar-item w3-button w3-right">Login</a>
    {% else %}
    <a href="/logout" class="w3-bar-item w3-button w3-right">Logout</a>
    <a href="/profile" class="w3-bar-item w3-button w3-right">Profile</a>
    {% endif %}
</div>
